body {
  font-family: "Merriweather", serif;
  text-align: left;
}
.text_mission {
  text-align: center;
  font-size: 40px;
}
.flexibility {
  display: flex;
  margin-bottom: 100px;
}
.width {
  width: 50%;
  padding-top: 5%;
  padding-left: 10%;
  text-align: left;
}
.width img {
  width: 70%;
  margin-top: -15%;
}
.orange_color {
  color: orange;
}
.top_heading {
  font-size: 50px;
}
.new_link {
  text-decoration: none;
  background-color: #ff7f50;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
.mission {
  padding: 40px 8px;
}
.mission img {
  width: 35%;
}
.progress-path {
  padding: 0px 20px;
  border-radius: 10px;
  margin-right: 10px;
}
#mission {
  background-color: PapayaWhip;
}
#vission {
  background-color: aquamarine;
  margin-left: 10px;
}
#goals {
  background-color: PapayaWhip;
}
.banner {
  background-image: url(images/shapes/1.png);
  background-repeat: no-repeat;
  background-position: top;
}
.image_path {
  width: 50%;
  padding-left: 10%;
}
.image_path img {
  width: 80%;
}
.text_path {
  width: 70%;
  padding-right: 10%;
  padding-top: 3%;
}
.text_style {
  width: 70%;
  padding-left: 10%;
  padding-top: 3%;
}

footer {
  margin: 0;
  border: 20px solid black;
  text-align: center;
  font-size: larger;
  background-color: black;
  color: white;
}
span {
  color: #ff7f50;
}
